.father-container {
  text-align: center;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #FBFBFB;
}

h1 .heading-display {
  font-size: 30px;
  font-family: 'Quicksand';
  color: #2D303F;
}

h1 {
  font-size: 26px;
  font-family: 'Quicksand';
  color: #2D303F;
}

h2 {
  font-size: 22px;
  color: #2D303F;
  font-family: 'Quicksand';
  margin-top: 0px;
  margin-bottom: 0px;
}

h3 {
  font-size: 18px;
  color: #2D303F;
  font-family: 'Quicksand';
}

h4 {
  font-size: 14px;
  color: #2D303F;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 300;
  font-family: 'Quicksand';
}

p {
  font-size: 16px;
  color: #2D303F;
  font-weight: 300;
  font-family: 'Raleway';
}

@media only screen and (min-width: 768px) {
  h1 .heading-display {
    font-size: 48px;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 14px;
  }
}