.father-container {
  text-align: center;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: lawngreen;
}

h1 {
  font-size: 96px;
  font-family: 'Quicksand';
  color: #ffffff;
}

h2 {
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  font-family: 'Quicksand';
  letter-spacing: 8px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h3 {
  font-size: 30px;
  color: #4d4d4d;
  font-family: 'Quicksand';
}

h4 {
  font-size: 20px;
  color: #E97451;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 300;
  font-family: 'Quicksand';
}

p {
  font-size: 18px;
  color: #ffffff;
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 25px;
  font-family: 'Raleway';
}

@media only screen and (min-width: 768px) {
  .father-container {
    background-color: pink;
  }
}